body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 40px;
  min-height: 40px;
}

header input {
  height: 40px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 20px;
  padding: 0px 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  header input {
    display: none;
  }
}

header input:focus {
  border: 1px solid lightgray;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: gray;
}

a:hover,
a:focus {
  color: black;
}

header a:hover,
header a:focus,
footer a:hover,
footer a:focus {
  color: black;
}

header a,
footer a {
  margin: 0px 8px;
  text-decoration: none;
  color: gray;
}

/* footer */

footer {
  background-color: #f2f2f2;
  min-height: 40px;
  padding: 20px 40px;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 48px;
}

footer div {
  cursor: pointer;
}

/* post list */

.Post__navigation {
  display: flex;
  gap: 12px;
  margin: 0 auto;
  max-width: 680px;
  font-size: 16px;
  color: gray;
  cursor: pointer;
  padding: 36px 20px 20px 20px;
  border-bottom: 1px solid #f2f2f2;
}

.Post__navigation-active {
  color: black;
  font-weight: 600;
}

.Header__logo {
  color: black;
  font-weight: 700;
  margin-right: 16px;
}

.Post__list,
.Post__detail {
  text-align: center;
  min-height: 90vh;
  padding: 20px;
  max-width: 680px;
  margin: 0 auto;
  text-align: left;
  line-height: 24px;
}

.Post__profile-box {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
}

.Profile__email {
  font-weight: 700;
}

.Post__utils-box {
  display: flex;
  gap: 8px;
  flex-direction: row-reverse;
  font-size: 14px;
}

.Post__delete,
.Post__edit {
  color: gray;
  cursor: pointer;
}

.Post__date {
  color: gray;
}

.Post__profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

/* user profile */

.Profile__box {
  display: flex;
  gap: 18px;
  align-items: center;
  font-size: 18px;
  margin: 0 auto;
  max-width: 680px;
  text-align: left;
  line-height: 24px;
  justify-content: space-between;
  padding: 20px;
  background-color: ghostwhite;
  border-radius: 20px;
  margin-top: 20px;
}

.Profile__logout {
  color: gray;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

.Flex__box-lg {
  display: flex;
  align-items: center;
  gap: 18px;
}

.Profile__logout:hover {
  color: black;
}

.Profile__name {
  font-size: 16px;
  padding-top: 4px;
}

.Profile__image {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-color: #f2f2f2;
}

/* post detail */

.Post__box {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #f2f2f2;
}

.Post__box--no-posts {
  padding: 24px;
  border: 1px solid #f2f2f2;
  border-radius: 20px;
}

.Post__title {
  font-size: 20px;
  color: black;
}

.Post__detail .Post__title {
  font-size: 36px;
  line-height: 40px;
}

.Post__detail .Post__utils-box {
  flex-direction: row;
  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
  padding: 10px 10px;
}

.Post__detail .Post__profile-box {
  padding: 10px 10px;
}

.Post__text {
  font-size: 16px;
  color: #292929;
}

.Post__text--pre-wrap {
  font-size: 16px;
  color: #292929;
  white-space: pre-wrap;
}

/* carousel */

.Carousel {
  margin: 0 auto;
  max-width: 980px;
  margin-top: 36px;
}

ul.Carousel__slides {
  display: block;
  position: relative;
  height: 400px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

.Carousel__slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

ul.Carousel__slides input {
  display: none;
}

.Carousel__slide-container {
  display: block;
}

.Carousel__slide-img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.Carousel__slide-img img {
  width: auto;
  min-width: 100%;
  height: 100%;
}

.Carousel__controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 400px;
  color: #fff;
}

.Carousel__controls label {
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 0;
  transition: opacity 0.2s;
  cursor: pointer;
}

.Carousel__slide-img:hover + .Carousel__controls label {
  opacity: 0.5;
}

.Carousel__controls label:hover {
  opacity: 1;
}

.Carousel__controls .Carousel__slide-prev {
  width: 49%;
  text-align: left;
  left: 0;
}

.Carousel__controls .Carousel__slide-next {
  width: 49%;
  text-align: right;
  right: 0;
}

.Carousel__dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  z-index: 999;
  text-align: center;
}

.Carousel__dots .Carousel__dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  margin: 10px;
}

input:checked + .Carousel__slide-container .Carousel__slide-img {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .Carousel__slide-container .Carousel__controls label {
  display: block;
}

input#img-1:checked ~ .Carousel__dots label#img-dot-1,
input#img-2:checked ~ .Carousel__dots label#img-dot-2,
input#img-3:checked ~ .Carousel__dots label#img-dot-3 {
  opacity: 1;
}

input:checked + .Carousel__slide-container .nav label {
  display: block;
}

/* form */
.Form {
  margin: 0 auto;
  max-width: 680px;
  padding: 20px;
  margin-top: 20px;
}

.Form input {
  height: 20px;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0.3rem;
  border: 1px solid lightgray;
  width: 96%;
  max-width: 680px;
}

.Form textarea {
  min-height: 400px;
  padding: 10px 10px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0.3rem;
  border: 1px solid lightgray;
  width: 96%;
  max-width: 680px;
}

.Form .Form__block {
  margin-top: 20px;
  width: 100%;
}

.Form label {
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 20px;
}

.Form .Form__btn-submit {
  width: 100%;
  height: 48px;
  padding: 10px 10px;
  float: right;
  cursor: pointer;
  font-weight: 500;
  margin: 0 auto;
  font-size: 16px;
  background-color: #2563eb;
  color: white;
}

.Form .Form__btn-submit:hover,
.Form .Form__btn-submit:focus {
  background-color: #1945a4;
}

/* login form */

.Form--lg {
  min-height: 70vh;
  margin-top: 10vh;
}

.Form .Form__block--lg {
  margin-top: 40px;
  width: 100%;
}

.Form__title {
  text-align: center;
  margin-bottom: 40px;
}

.Form__link {
  margin-left: 10px;
  text-decoration: underline;
  color: #2563eb;
}

.Form__link:hover,
.Form__link:focus {
  color: #1945a4;
}

.Form__error {
  color: #a30000;
}

.Form input:disabled,
.Form input:disabled:hover,
.Form input:disabled:focus {
  background-color: lightgray;
}

/* loader */
.Loader {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 5px solid #2563eb;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 9999;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
